<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Global Pollen Project</title>

    <environment names="Development,Staging,Production">
        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- Styles -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
</head>
<body>
    @* Preview Ribbon *@
    <div class="corner-ribbon top-right sticky blue">Preview</div>
    @* Fixed Navbar *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <span class="top">The Global</span>
                    <span class="bottom">Pollen Project</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Guide">About</a></li>
                    <li><a asp-controller="Taxon" asp-action="Index">Reference Collection</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grains<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Index" asp-controller="Grain"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Identify Grains</a></li>
                            <li><a asp-action="Add" asp-controller="Grain"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit a Grain!</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-action="Help" asp-controller="Grain">Help</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Physical Collections<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Index" asp-controller="Reference">Browse</a></li>
                            @if (User.IsInRole("Digitise"))
                            {
                                <li><a asp-action="Index" asp-controller="Reference">My Digitised Collections</a></li>
                                <li><a asp-action="AddCollection" asp-controller="Reference">Add New Collection</a></li>
                            }
                            else
                            {
                                <li><a asp-action="RequestAccess" asp-controller="Reference">Get Started with Digitisation</a></li>
                            }
                            <li role="separator" class="divider"></li>
                            <li><a asp-action="Help" asp-controller="Reference">Help</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="Bounty" asp-action="Index">Leaders</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>

    @* Main Content *@
    <div class="page-content">
        @RenderSection("homepageHeader", required: false)
        <div class="container body-content">
            @RenderBody()
        </div>
        @RenderSection("nocontainerbody", required: false)
    </div>

    @* Footer *@
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a asp-action="Guide">About the Project</a></li>
                        <li><a asp-action="Terms" asp-controller="Home">Terms and Conditions</a></li>
                        <li><a asp-action="Terms">Licensing</a></li>
                        <li><a asp-action="Guide">How to Cite</a></li>
                    </ul>
                </div>
                <div class="col-md-5" style="padding-right:4em">
                    <h4>Contact</h4>
                    <p>The Global Pollen Project. <a href="http://oxlel.zoo.ox.ac.uk" target="_blank">Long-Term Ecology Lab</a>, Department of Zoology, University of Oxford, OX1 3PS, UK</p>
                    <a href="mailto:oxpollen@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Email</a>
                </div>
                <div class="col-md-4 footer-images">
                    <h4>Our Partners</h4>
                    <img src="~/images/oxlellogo.png" alt="Long Term Ecology Lab" />
                    <img src="~/images/oxford-logo.png" alt="University of Oxford" />
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="col-md-12">
                    <p style="text-align:center;">OxPollen &copy; 2016 - Andrew C. Martin and William J. Harvey</p>
                </div>
            </div>
        </div>
    </footer>

    @* Scripts *@
    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-slider/bootstrap-slider.js"></script>
        <script src="~/js/site.js" asp-file-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
