@model ReferenceCollection
@{
    ViewData["Title"] = "Digitised Collection";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>Digitised Collection - @Model.Name</h2>
            <p>Location: @Model.Institution, @Model.CountryCode</p>
        </div>
    </div>
    <br />
}

@if (Model.Grains.Count == 0)
{
    <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> This collection is currently empty</div>
}

<div class="row">
    <div class="col-md-12">
        <a role="button" class="btn btn-default" href="@Url.Action("AddGrain", "Reference", new { id = Model.Id })"><span class="glyphicon glyphicon-plus"></span> Batch-Add Reference Slides</a>
    </div>
</div>

<h4>Reference Slides</h4>
<table class="table">
    <thead>
        <tr>
            <th>Reference Grain ID</th>
            <th>Taxon</th>
            <th>First Image</th>
        </tr>
    </thead>
    <tbody id="grain-table-body">
        @foreach (var grain in Model.Grains)
        {
            <tr>
                <td>@grain.ReferenceGrainId</td>
                <td>@grain.Family  @grain.Genus  @grain.Species</td>
                <td><img src="\user-image-uploads\@grain.Images.First().FileNameThumbnail" class="image-small" /></td>
            </tr>
        }
    </tbody>
</table>