@model ReferenceCollection
@{
    ViewData["Title"] = Model.Name;
    ViewData["Subtitle"] = "Digitised Collection in the Global Pollen Project";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </div>
    <br />
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="active"><a asp-action="Index" asp-controller="Reference">Physical Collections</a></li>
            <li>Collection #@Model.Id: @Model.Name</li>
        </ol>
    </div>
</div>

@* Alerts *@
@if (Model.Grains.Count == 0)
{
    <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> This collection is currently empty</div>
}

    @* Digitisation Features *@
    @if (Model.User.UserName == User.Identity.Name && User.IsInRole("Digitise"))
    {
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-edit"></span> Digitisation Features</div>
            <div class="panel-body">
                <p>You own this collection.</p>
                <div class="row">
                    <div class="col-md-12">
                        <a role="button" class="btn btn-default" href="@Url.Action("AddGrain", "Reference", new { id = Model.Id })"><span class="glyphicon glyphicon-plus"></span> Add Reference Slide</a>
                        @*<a role="button" class="btn btn-default" href="@Url.Action("BatchAddGrains", "Reference", new { id = Model.Id })"><span class="glyphicon glyphicon-plus"></span> Batch Add (PREVIEW)</a>*@
                        <a role="button" class="btn btn-default" href="@Url.Action("EditCollection", "Reference", new { id = Model.Id })">Edit Metadata</a>
                        <a role="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this collection? This CANNOT be undone.')" href="@Url.Action("DeleteCollection", new { id = Model.Id } )"><span class="glyphicon glyphicon-trash"></span> Delete Collection</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <label>Description</label>
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Organisation</label>
            <p>@Model.Institution, @Model.CountryCode</p>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.WebAddress) || !string.IsNullOrEmpty(Model.ContactEmail))
    {
        <div class="row">
            <div class="col-md-12">
                <label>Make an Enquiry</label>
                <p>
                    @if (!string.IsNullOrEmpty(Model.WebAddress))
                {
                        <span>
                            For additional details about this collection, visit <a href="@Model.WebAddress" target="_blank">
                                the institution's website
                            </a>.
                        </span>
                    }
                    @if (!string.IsNullOrEmpty(Model.ContactEmail))
                {
                        <span>You can make direct enquiries about the collection at <a href="mailto:@Model.ContactEmail">this address</a>.</span>
                    }
                </p>
            </div>
        </div>
    }

    @* Grains in Collection *@
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-list"></span> Reference Slides</div>
        <div class="panel-body">
            <p>There are @Model.Grains.Count digitised slides in this collection.</p>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Family</th>
                        <th>Genus</th>
                        <th>Species</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="grain-table-body">
                    @foreach (var grain in Model.Grains)
                    {
                        <tr>
                            @*<td>@grain.Family</td>
                            <td>@grain.Genus</td>
                            <td>@grain.Species</td>*@
                            <td>
                                <a class="btn btn-default" href="@Url.Action("Grain", "Reference", new { id = @grain.ReferenceGrainId })">View</a>
                                @if (Model.User.UserName == User.Identity.Name && User.IsInRole("Digitise"))
                                {
                                    <a role="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this slide? This CANNOT be undone.')" href="@Url.Action("DeleteGrain", new { id = grain.ReferenceGrainId } )"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>