@model List<ReferenceCollection>
@{
    ViewData["Title"] = "Digitised Collection";
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>My Digitised Collections</h2>
            <p>If you have a pollen reference collection in your lab or institution, you can digitise it here.</p>
        </div>
    </div>
}

<p>To digitise a reference collection: </p>
<ol>
    <li>Create a new reference collection in OxPollen to hold your local collection. </li>
    <li>Take images of each slide in your reference collection. You can take images of either an area of the slide (multiple grains), a single grain, or both!</li>
    <li>Save the images into a folder, with the file name in the format FAMILY_GENUS_SPECIES.jpg</li>
    <li>Use the batch-upload form to add all images at once.</li>
</ol>

<a class="btn btn-default" role="button" href="@Url.Action("AddCollection")"><span class="glyphicon glyphicon-plus"></span> Add a New Collection</a>

@if (Model.Count == 0)
{
    <p>You have not added any collections.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>OxPollen Copy Owner</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in Model)
            {
                <tr>
                    <td>@collection.Id</td>
                    <td><a href="@Url.Action("Collections", new { id = collection.Id })">@collection.Name</a></td>
                    <td>@collection.Institution, @collection.CountryCode</td>
                    <td>@collection.User.FullName()</td>
                </tr>
            }
        </tbody>
    </table>
}