@model OxPollen.Models.ReferenceGrain

@{
    ViewBag.Title = Model.Collection.Name;
    ViewBag.Subtitle = Model.ReferenceGrainId + ": " + Model.Family;
    var timeSinceAdd = DateTime.Now - Model.TimeAdded;
}

@section scripts {
    <link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css"> @* TODO Move this *@
    <script src="~/lib/nouislider/distribute/nouislider.min.js"></script>
    <script type="text/javascript" src="~/js/reference/GrainImageCanvas.js"></script>
}

@* Header *@
@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <p>@ViewData["Subtitle"]</p>
        </div>
    </div>
    <br />
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Index" asp-controller="Reference">Physical Collections</a></li>
            <li><a href="@Url.Action("Collection", "Reference", new { id = Model.Collection.Id })">@Model.Collection.Name</a></li>
            <li class="active">Grain #@Model.ReferenceGrainId</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-book"></span> Details</div>
            <div class="panel-body">
                <h4>Taxonomy</h4>
                <label>Family</label>
                @if (string.IsNullOrEmpty(Model.Family))
                {
                    <p>Unknown</p>
                }
                else
                {
                    <p>@Model.Family</p>
                }
                <label>Genus</label>
                @if (string.IsNullOrEmpty(Model.Genus))
                {
                    <p>Unknown</p>
                }
                else
                {
                    <p>@Model.Genus</p>
                }
                <label>Species</label>
                @if (string.IsNullOrEmpty(Model.Species))
                {
                    <p>Unknown</p>
                }
                else
                {
                    <p>@Model.Species</p>
                }
                <hr />
                <h4>Additional Details</h4>
                <p>None</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-picture"></span> Images</div>
            <div class="panel-body">
                <div class="zoom-canvas-container">
                    <canvas id="displayCanvas" class="zoom-canvas"></canvas>
                    <div id="focusSlider"></div>
                </div>
                <hr />
                <div id="zoom-thumbs" class="image-thumbnails" style="height:5em;overflow:hidden;">
                    @foreach (var image in Model.Images)
                    {
                        @if (image.IsFocusImage)
                        {
                            <a onclick="return changeImage(this);" style="position:absolute;height:5em;">
                                <img src="@image.FocusLowUrl" hidden="hidden" />
                                <img src="@image.FocusMedLowUrl" hidden="hidden" />
                                <img src="@image.FocusMedUrl" style="width:auto; height:5em;display:inline-block" />
                                <img src="@image.FocusMedHighUrl" hidden="hidden" />
                                <img src="@image.FocusHighUrl" hidden="hidden" />
                                <span class="glyphicon glyphicon-eye-open focus-icon"></span>
                            </a>
                        }
                        else
                        {
                            <a onclick="return changeImage(this);"><img src="@image.FileName" style="width:auto; height:5em;display:inline-block" /></a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@* TODO: Move Style *@
<style>
    .focus-icon {
        top: 2.7em;
        right: 0.2em;
        position: absolute;
        background-color: white;
        padding: 0.1em;
        font-size: 1.2em;
    }

    #focusSlider {
        height:15em;
        position:absolute;
        top:7em;
        right:0;
    }
</style>