@model Im.Acm.Pollen.ViewModels.IndexViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Manage your account";
}

@* Header *@
@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <p>@Model.FullName</p>
        </div>
    </div>
    <br />
}

<p class="text-success">@ViewData["StatusMessage"]</p>
<div class="row">
    <div class="col-md-12">
        <h4>About You</h4>
        <p>These details are part of your <em>public profile</em>, which may be displayed on leaderboards.</p>
        <div class="row">
            <div class="col-md-2">
                <label>Organisation</label>
            </div>
            <div class="col-md-10">
                @Model.Organisation.
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Name</label>
            </div>
            <div class="col-md-10">
                <p>@Model.FullName</p>
                <a asp-action="ChangePublicProfile">Change Public Profile</a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Logging In</h4>
        <p>The Global Pollen Project allows you to log in using a password set with us, or using an external account such as Twitter or Facebook.</p>
        <div class="row">
            <div class="col-md-2">
                <label>User Name</label>
            </div>
            <div class="col-md-10">
                @User.GetUserName()
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Password</label>
            </div>
            <div class="col-md-10">
                @if (Model.HasPassword)
            {
                    <p><a asp-controller="Manage" asp-action="ChangePassword">Change your password</a></p>
                }
                else
                {
                    <p>You do not currently have a local password. You can <a asp-controller="Manage" asp-action="SetPassword">create</a> one now</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>External Logins</label>
            </div>
            <div class="col-md-10">
                @if (Model.Logins.Count == 0)
                {
                    <p>None</p>
                }
                else
                {
                    <p>@Model.Logins.Count</p>
                }
                <p><a asp-controller="Manage" asp-action="ManageLogins">Manage external logins</a></p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Your Access Level</h4>
        <div class="row">
            <div class="col-md-2">
                <label>Digitisation Rights</label>
            </div>
            <div class="col-md-10">
                @if (User.IsInRole("Digitise"))
                {
                    <p>Yes</p>
                }
                else
                {
                    <p>No. You can read about our reference collection digitisation features, and request access, <a asp-action="Index" asp-controller="Reference">here</a>. </p>
                }
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Email Notifications</h4>
        <p>We will send you emails for the following reasons. You can opt out of these communications below.</p>
        <div class="row">
            <div class="col-md-6">
                <label>A grain you submitted gains confirmed identity.</label>
            </div>
            <div class="col-md-6">
                Yes
            </div>
        </div>
    </div>
</div>
