@model List<ReferenceCollection>

@{
    ViewBag.Title = "Physical Reference Collections";
    ViewBag.Subtitle = "These collections have been digitised into the Global Pollen Project by organisations around the world";
    ViewData["Description"] = "Our plant pollen image library contains digitised slides from instiutional collections around the world, including the University of Oxford. Explore these collections today.";

    var regionGroups = Model.GroupBy(m => m.FocusRegion);
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p>@ViewBag.Subtitle</p>
        </div>
    </div>
    <br />
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="active">Physical Collections</li>
        </ol>
    </div>
</div>

@* Digitisation Features *@
<div class="row">
    <div class="col-md-12">
        @if (User.IsInRole("Digitise"))
        {
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-edit"></span> Digitisation Features</div>
                <div class="panel-body">
                    <a class="btn btn-default" role="button" href="@Url.Action("AddCollection")"><span class="glyphicon glyphicon-plus"></span> Add a New Collection</a>
                </div>
            </div>
        }
    </div>
</div>

@foreach (var region in regionGroups.OrderBy(m => m.Key)) {
    <div class="row">
        <div class="col-md-12">
            <div class="image-header">
                <h4>@region.Key</h4>
            </div>
            <ul class="ref-collection-list">
                @foreach (var collection in region.OrderBy(c => c.Name))
                {
                    <li>
                        <a href="@Url.Action("Collection", new { id = @collection.Id } )">
                            <h4>@collection.Name</h4>
                        </a>
                        <h6>@collection.Institution, @collection.CountryCode.</h6><h6>@collection.Grains.Count digitised slides</h6>
                        <p class="region-label">@collection.FocusRegion</p>
                    </li>
                }
            </ul>
        </div>
    </div>
}