@model List<AppUser>

@{
    ViewBag.Title = "GPP Administration";
    ViewBag.Subtitle = "Users";
}
@inject UserManager<AppUser> _userManager

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p>@ViewBag.Subtitle</p>
        </div>
    </div>
    <br />
}

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Organisation</th>
            <th>Admin</th>
            <th>Digitise</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
            bool isAdmin = _userManager.IsInRoleAsync(user, "Admin").Result;
            bool isBanned = _userManager.IsInRoleAsync(user, "Banned").Result;
            bool canDigitise = _userManager.IsInRoleAsync(user, "Digitise").Result;
        <tr>
            <td>@user.FullName()</td>
            <td>@user.Organisation.Name</td>
            <td>
                @if (isAdmin)
                {
                    <p><span class="glyphicon glyphicon-check"></span> Yes</p>
                }
                else
                {
                    <a type="button" class="btn btn-default" href="@Url.Action("UserAdmin", "Admin", new { id = user.Id, userIsAdmin = true })">Promote to Admin</a>
                }
            </td>
            <td>
                @if (canDigitise)
            {
                <a type="button" class="btn btn-default" href="@Url.Action("RemoveDigitiseRole", "Admin", new { userId = user.Id })">Disable</a>
            }
            else
            {
                    @if (user.RequestedDigitisationRights)
                    {
                        <p><strong>Requested</strong></p>
                    }
                <a type="button" class="btn btn-default" href="@Url.Action("AddDigitiseRole", "Admin", new { userId = user.Id })">Enable</a>
            }
            </td>
            <td>
                @user.Email
                @if (!user.EmailConfirmed)
                {
                    <p>Email not confirmed. <a type="button" class="btn btn-default" href="@Url.Action("VerifyEmail", "Admin", new { id = user.Id })">Manual verify</a></p>

                }
            </td>
            <td>
                @if (user.UserName != User.Identity.Name)
                {
                    <a type="button" class="btn btn-default" href="mailto:@user.Email"><span class="glyphicon glyphicon-send"></span> Email</a>
                    @if (isBanned)
                    {
                        <a type="button" class="btn btn-default" href="@Url.Action("UnbanUser", "Admin", new { id = user.Id })">Remove Ban</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-danger" href="@Url.Action("BanUser", "Admin", new { id = user.Id })">Ban User</a>
                    }
                }
            </td>
        </tr>
                    }
</table>