@model List<OxPollen.ViewModels.TaxonViewModel>

@{
    ViewBag.Title = "Reference Collection";
    var rank = Context.Request.Query["rank"];
    string rankFilter;
    if (rank.Count == 0) { rankFilter = "Genus"; } else { rankFilter = rank.FirstOrDefault(); };
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>Reference Collection</h2>
            <p>
                This collection contains pollen taxa that have been identified by the users of OxPollen.
            </p>
        </div>
    </div>
    <br />
}

@section scripts {
    <script src="~/lib/bootstrap/js/collapse.js"></script>
    <script src="~/lib/bootstrap/js/transition.js"></script>
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li>Pollen Reference Collection</li>
        </ol>
    </div>
</div>

@* Filters *@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filters</div>
            <div class="panel-body">
                <span>Taoxnomic Rank: </span>
                <div class="dropdown" style="display:inline;">
                    <button class="btn btn-default dropdown-toggle" type="button" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @rankFilter
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filterMenu">
                        <li><a href="@Url.Action("Index", new { rank = Taxonomy.Species })">Species</a></li>
                        <li><a href="@Url.Action("Index", new { rank = Taxonomy.Genus })">Genus</a></li>
                        <li><a href="@Url.Action("Index", new { rank = Taxonomy.Family })">Family</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Count > 0)
{
    @foreach (var taxon in Model)
    {
        <div class="row taxon-list-item">
            <div class="col-md-11">
                <a href="@Url.Action("View", new { id = @taxon.Id } )">
                    <img src="/user-image-uploads/@taxon.ImageFilename" />
                </a>
                <div class="taxon-details">
                    <a href="@Url.Action("View", new { id = @taxon.Id } )">
                        <h3>@taxon.LatinName</h3>
                    </a>
                    <span>User Grains: @taxon.UserSubmissionsConfirmedCount</span>
                    <span>Reference Slides: @taxon.ReferenceGrainsCount</span>
                </div>
                <ul id="taxon-@taxon.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    @foreach (var subTaxa in taxon.Children)
                    {
                        <li>
                            <a href="@Url.Action("View", "Taxon", new { id = subTaxa.Id})">@subTaxa.LatinName</a>
                        </li>
                    }
                </ul>

            </div>
            @if (taxon.Children.Count > 0)
                    {
                <div class="col-md-1 subtaxa-button">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#taxon-@taxon.Id" aria-expanded="false" aria-controls="taxon-@taxon.Id"><span class="glyphicon glyphicon-collapse-down" style="font-size:2em;"></span></a>
                </div>
            }
        </div>
    }
}
else
{
    <p>Our reference collection is currently empty. Get identifying!</p>
}
