@model List<OxPollen.ViewModels.TaxonViewModel>

@{
    ViewBag.Title = "Reference Collection";
    var rank = Context.Request.Query["rank"];
    string rankFilter;
    if (rank.Count == 0) { rankFilter = "Genus"; } else { rankFilter = rank.FirstOrDefault(); };
}

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>Reference Collection</h2>
            <p>
                This collection contains pollen taxa that have been identified by the users of OxPollen.
            </p>
        </div>
    </div>
    <br />
}

@* Filters *@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filters</div>
            <div class="panel-body">
                <span>Taoxnomic Rank: </span>
                <div class="dropdown" style="display:inline;">
                    <button class="btn btn-default dropdown-toggle" type="button" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @rankFilter
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filterMenu">
                        <li><a href="@Url.Action("Index", new { rank = Taxonomy.Species })">Species</a></li>
                        <li><a href="@Url.Action("Index", new { rank = Taxonomy.Genus })">Genus</a></li>
                        <li><a href="@Url.Action("Index", new { rank = Taxonomy.Family })">Family</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Latin Name</th>
                        <th>Confirmed User Submissions</th>
                        <th>Digitised Reference Slides</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var taxon in Model)
                {
                    <tr>
                        <td>@taxon.LatinName</td>
                        <td>@taxon.UserSubmissionsConfirmedCount</td>
                        <td>@taxon.ReferenceGrainsCount</td>
                        <td><a role="button" class="btn btn-primary" href="@Url.Action("View", new { id = @taxon.Id } )">View Details</a></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Our reference collection is currently empty. Get identifying!</p>
        }
    </div>
</div>    