@model OxPollen.ViewModels.Taxon.TaxonDetailViewModel

@{
    ViewBag.Title = Model.LatinName;
}

<link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css"> @* TODO Move this *@
<link rel="stylesheet" href="~/lib/bootstrap-slider/slider.css"> @* TODO Move this *@

@* Header *@
@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p><strong>@Model.Rank</strong> in the OxPollen Reference Collection</p>
        </div>
    </div>
    <br />
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Index">Pollen Reference Collection</a></li>
            <li class="active">@Model.Id: @Model.LatinName</li>
        </ol>
    </div>
</div>

<div class="row" id="warnings-container" style="display:none">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
                <ul style="list-style:none">
                    <li style="display:none" id="neotoma-warning"><span class="glyphicon glyphicon-warning-sign"></span> Past distributions from NeotomaDB not available at present.</li>
                    <li style="display:none" id="gbif-warning"><span class="glyphicon glyphicon-warning-sign"></span> The present distribution is not available from GBIF right now.</li>
                    <li style="display:none" id="gbif-warning-desc"><span class="glyphicon glyphicon-warning-sign"></span> Could not fetch a description from GBIF right now</li>
                </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-film"></span> Grains</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Digitised Reference Slides</label>
                        <ul class="grain-grid columns-8">
                            @foreach (var grain in Model.ReferenceGrains)
                            {
                                <li>
                                    <a href="@Url.Action("Grain", "Reference", new { id = @grain.ReferenceGrainId } )">
                                        <div class="img-container">
                                            <img src="\user-image-uploads\@grain.Images.First().FileNameThumbnail" />
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                        <hr />
                        <label>User Submissions</label>
                        <ul class="grain-grid columns-8">
                            @foreach (var grain in Model.SubmittedGrains)
                            {
                                <li>
                                    <a href="@Url.Action("Identify", "Grain", new { id = @grain.Id } )">
                                        <div class="img-container">
                                            <img src="\user-image-uploads\@grain.Images.First().FileNameThumbnail" />
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-book"></span> Definition</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Distribution through Time</label>
                        <div id="map" style="height:20em"></div>
                        <ul id="coordinates"></ul>
                        <p>
                            <span id="time-slicer-a" class="hidden">Example low value</span>
                            <span id="time-slicer-b" class="hidden">Example high value</span>
                            <input id="time-slicer" type="text" data-slider-enabled="true" />
                            <span>years before present</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <label>Description (GBIF)</label>
                        <p id="gbif-description"><span class="glyphicon glyphicon-refresh"></span></p>
                        <p id="description-source"><em>Source:</em></p>
                        <a class="btn btn-default" href="http://gbif.org/species/@Model.GbifId" target="_blank">View at GBIF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @* Dependencies *@
    <script type="text/javascript" src="~/lib/leaflet/dist/leaflet.js"></script>
    <script type="text/javascript" src="~/js/taxon/SpaceTimeDistribution.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            populateGbifDescription(@Model.GbifId)
            populateSpaceTimeMap(@Model.GbifId, @Model.NeotomaId)
        });
    </script>
}