@model Taxon

@{
    ViewBag.Title = Model.LatinName;
}

@* Breadcrumb *@
<div class="row">
    <br />
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index">Pollen Reference Collection</a></li>
            <li class="active">@Model.TaxonId: @Model.LatinName</li>
        </ol>
    </div>
</div>

@* Header *@
<div class="row">
    <div class="col-md-12">
        <h1>@Model.LatinName</h1>
        <h4>@Model.Rank</h4>
        <h4>@Model.Records.Count confirmed grain(s)</h4>
    </div>
</div>

@* GBIF *@
<div class="row">
    <div class="col-md-6">
        <h3>Description</h3>
        <p id="description-source">Source:</p>
        <p id="gbif-description"><span class="glyphicon glyphicon-refresh"></span></p>
    </div>
    <div class="col-md-6">
        <h3>Modern Distribution</h3>
        <div id="map" style="height:20em"></div>
    </div>
</div>
<hr />

@* Photo Tiles *@
<h3>OxPollen Grains</h3>
<div class="row">
    @foreach (var record in Model.Records)
    {
        <div class="col-sm-2">
            <a href="@Url.Action("Identify", "Grain", new { id = @record.GrainId } )"><img src="@record.Images.First().FileName" style="width:100%" /></a>
        </div>
    }
</div>

@* Mapping *@
<link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css">
<script type="text/javascript" src="~/lib/leaflet/dist/leaflet.js"></script>
<script type="text/javascript">
    var baseUrl = 'http://api.gbif.org/v1/map/density/tile?x={x}&y={y}&z={z}&type=TAXON&key=@Model.GbifId&layer=OBS_1900_1910&layer=SP_1900_1910&layer=OBS_1910_1920&layer=SP_1910_1920&layer=OBS_1920_1930&layer=SP_1920_1930&layer=OBS_1930_1940&layer=SP_1930_1940&layer=OBS_1940_1950&layer=SP_1940_1950&layer=OBS_1950_1960&layer=SP_1950_1960&layer=OBS_1960_1970&layer=SP_1960_1970&layer=OBS_1970_1980&layer=SP_1970_1980&layer=OBS_1980_1990&layer=SP_1980_1990&layer=OBS_1990_2000&layer=SP_1990_2000&layer=OBS_2000_2010&layer=SP_2000_2010&layer=OBS_2010_2020&layer=SP_2010_2020&layer=LIVING&palette=yellows_reds';
    var gbifAttrib = 'GBIF contributors';
    var gbif = new L.TileLayer(baseUrl, { minZoom: 0, maxZoom: 14, attribution: gbifAttrib });
    var cmAttr = 'Nokia',
        cmUrl = 'http://2.maps.nlp.nokia.com/maptile/2.1/maptile/newest/normal.day.grey/{z}/{x}/{y}/256/png8?app_id=_peU-uCkp-j8ovkzFGNU&app_code=gBoUkAMoxoqIWfxWA5DuMQ';
    var minimal = L.tileLayer(cmUrl, { styleId: 22677, attribution: cmAttr });
    var map = L.map('map', {
        center: [0, 0],
        zoom: 1,
        maxZoom: 14,
        layers: [minimal, gbif]
    });
</script>

@* GBIF Ajax Request *@
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    //GBIF Search Functions
    //Andrew Martin, University of Oxford

    var gbifUri = "http://api.gbif.org/v1/species/@Model.GbifId";

    $(document).ready(function () {
        ajaxHelper(gbifUri + '/descriptions', 'GET', 'jsonp').done(function(data) {
            var holder = document.getElementById('gbif-description');
            var sourceHolder = document.getElementById('description-source');
            var description = '';
            var source = '';
            for (i = 0; i < data.results.length; i++) {
                if (data.results[i].description.length > 0 && data.results[i].language == 'eng' && description == '') {
                    description = data.results[i].description.substring(0, 1000) + '...'; //Take first description
                    source = data.results[i].source;
                }
            }
            holder.innerHTML = description;
            sourceHolder.innerHTML = 'Source: ' + source;
        })
    });

    //Base Functions
    function ajaxHelper(uri, method, dataType, data) {
        console.log(uri);
        //self.error('');
        return $.ajax({
            type: method,
            url: uri,
            dataType: dataType,
            contentType: 'application/json',
            data: data ? JSON.stringify(data) : null
        }).fail(function (jqXhr, textStatus, errorThrown) {
            console.log(errorThrown);
            //self.error(errorThrown);
        });
    }
</script>