@model OxPollen.ViewModels.Taxon.TaxonDetailViewModel

@{
    ViewBag.Title = Model.LatinName;
}

<link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css"> @* TODO Move this *@
<link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css"> @* TODO Move this *@

@* Header *@
@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p><strong>@Model.Rank</strong> in the OxPollen Reference Collection</p>
        </div>
    </div>
    <br />
}

@* Breadcrumb *@
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Index">Pollen Reference Collection</a></li>
            <li class="active">@Model.Id: @Model.LatinName</li>
        </ol>
    </div>
</div>

<div class="row" id="warnings-container" style="display:none">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
                <p style="display:none" id="neotoma-warning"><span class="glyphicon glyphicon-warning-sign"></span> Neotoma Link: Past distribution currently unavailable for this taxon.</p>
                <p style="display:none" id="gbif-warning"><span class="glyphicon glyphicon-warning-sign"></span> GBIF Link: Present distribution currently unavailable for this taxon.</p>
                <p style="display:none" id="gbif-warning-desc"><span class="glyphicon glyphicon-warning-sign"></span> GBIF Link: No English descriptions can be retrieved for this taxon.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-film"></span> Grains</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Digitised Reference Slides</label>
                        <ul class="grain-grid columns-8">
                            @foreach (var grain in Model.ReferenceGrains)
                            {
                                <li>
                                    <a href="@Url.Action("Grain", "Reference", new { id = @grain.ReferenceGrainId } )">
                                        <div class="img-container">
                                            <img src="\user-image-uploads\@grain.Images.First().FileNameThumbnail" />
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                        <hr />
                        <label>User Submissions</label>
                        <ul class="grain-grid columns-8">
                            @foreach (var grain in Model.SubmittedGrains)
                            {
                                <li>
                                    <a href="@Url.Action("Grain", "Reference", new { id = @grain.Id } )">
                                        <div class="img-container">
                                            <img src="\user-image-uploads\@grain.Images.First().FileNameThumbnail" />
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-book"></span> Definition</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Distribution</label>
                        <input hidden="hidden" id="NeotomaId" value="@Model.NeotomaId" />
                        <input hidden="hidden" id="GbifId" value="@Model.GbifId" />
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#modern" aria-controls="modern" role="tab" data-toggle="tab">Present</a></li>
                                <li role="presentation"><a href="#paleo" aria-controls="paleo" role="tab" data-toggle="tab">Past</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="modern">
                                    <div id="map" style="height:300px"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="paleo">
                                    <div id="neotoma-map-unavailable" class="alert alert-danger" role="alert" style="display:none">Past distributions unavailable from Neotoma.</div>
                                    <div id="neotoma-map"></div>
                                    <div id="range"></div>
                                    <br />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <label>Description (GBIF)</label>
                        <p id="gbif-description"><span class="glyphicon glyphicon-refresh"></span></p>
                        <p id="description-source"><em>Source:</em></p>
                        <a class="btn btn-default" href="http://gbif.org/species/@Model.GbifId" target="_blank">View at GBIF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @* Present Distribution Map *@
    <script type="text/javascript" src="~/lib/leaflet/dist/leaflet.js"></script>
    <script src="~/lib/nouislider/distribute/nouislider.min.js"></script>
    <script src="~/js/taxon/PresentDistribution.js"></script>

    @* Past Distribution Map *@
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v0.min.js"></script>
    <script src="~/lib/wnumb/wNumb.js"></script>
    <script src="~/js/taxon/PastDistribution.js"></script>
}