@model OxPollen.ViewModels.IdentificationViewModel

@{
    ViewBag.Title = "Grain Details #" + Model.GrainId;
    var timeSinceAdd = DateTime.Now - Model.TimeAdded;
}

@* Breadcrumb *@
<div class="row">
    <br />
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-action="Index">Unidentified Grains</a></li>
            <li class="active">Grain #@Model.GrainId</li>
        </ol>
    </div>
</div>

@* Header *@
<div class="row">
    <div class="col-md-12">
        <h1>Pollen Grain #@Model.GrainId</h1>
        @if (!string.IsNullOrEmpty(Model.IdentifiedFamily))
        { <h4>Family: @Model.IdentifiedFamily</h4> }
        @if (!string.IsNullOrEmpty(Model.IdentifiedGenus))
        { <h4>Genus: @Model.IdentifiedGenus</h4> }
        @if (!string.IsNullOrEmpty(Model.IdentifiedSpecies))
        { <h4>Species: @Model.IdentifiedSpecies</h4> }
        @if (string.IsNullOrEmpty(Model.IdentifiedFamily) && string.IsNullOrEmpty(Model.IdentifiedGenus
                    ) && string.IsNullOrEmpty(Model.IdentifiedSpecies))
        {
            <h4>Unidentified</h4>
        }
    </div>
</div>

<div class="row">
    @* Left Column: Photos *@
    <div class="col-md-6">
        @foreach (var image in Model.ImageUrls)
        {
            <img src="@image" style="width:100%; height:100%" />
            <p>Image Scale: @Model.ImageScale micrometres</p>
        }
    </div>
    @* Right Column: Details and IDs *@
    <div class="col-md-6">
        @if (timeSinceAdd.Days == 0)
        {
            <p>Added today.</p>
        }
        else
        {
            <p>Added @timeSinceAdd.Days.ToString() days ago.</p>
        }
        <p>
            Approximate Age: @Model.Age @if (!Model.Age.HasValue)
            {
                <span>Unknown</span>
            }
        </p>
        <p>Number of IDs: @Model.Identifications.Count</p>
        <label>Location</label>
        <img style="text-align: left; margin-right: auto; display: block; max-width: 100%" alt="Pollen Location"
             src="http://maps.google.com/maps/api/staticmap?center=@Model.Latitude,@Model.Longitude&amp;zoom=5&amp;size=560x200&amp;maptype=terrain&amp;markers=color:blue%7Clabel:Pollen%7C @Model.Latitude,@Model.Longitude&amp&amp;amp;sensor=false">
        @if (User.Identity.IsAuthenticated)
        {
            @if (Model.AlreadyIdentifiedByUser)
            {
                <hr />
                <h3>Your Identification</h3>
                <p>You identified this grain as <strong>@Model.UserIdentification.Family @Model.UserIdentification.Genus @Model.UserIdentification.Species</strong> on @Model.UserIdentification.Time</p>
                <p>Thank you for your identification.</p>
                <a class="btn btn-danger" href="@Url.Action("RemoveIdentification", new {identificationId = Model.UserIdentification.IdentificationId })"><span class="glyphicon glyphicon-trash"></span> Remove Your Identification</a>
            }
            else
            {
                <hr />
                <h3>Can you identify this grain?</h3>
                @using (Html.BeginForm("Identify", "Grain", FormMethod.Post, new { @class = "form" }))
                    {
                    @Html.HiddenFor(m => m.AlreadyIdentifiedByUser)
                    @Html.HiddenFor(m => m.GrainId)
                    <div class="row">
                        <div class="col-md-12">
                            <p>I can identify this grain to the following resolution: </p>
                            <select asp-for="TaxonomicResolution" class="form-control" id="TaxonomicResolution">
                                <option value="3">Species</option>
                                <option value="2">Genus</option>
                                <option value="1">Family</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" asp-for="Family" class="form-control" placeholder="Family" />
                            <span asp-validation-for="Family" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Genus" class="form-control" placeholder="Genus" />
                            <span asp-validation-for="Genus" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Species" class="form-control" placeholder="Species" />
                            <span asp-validation-for="Species" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-primary" type="submit" name="Submit" id="Submit" value="Submit" />
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <p>Log in to identify this grain</p>
        }

        <div class="row">
            <div class="col-md-12">
                <h3>Current Identifications</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Identification</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    @foreach (var id in Model.Identifications)
                    {
                        <tr>
                            @if (id.Rank == Taxonomy.Family)
                            {
                                <td>Someone suggested this was of the family @id.Family</td>
                            }
                            else if (id.Rank == Taxonomy.Genus)
                            {
                                <td>Someone suggested this was of the genus @id.Genus</td>
                            }
                            else if (id.Rank == Taxonomy.Species)
                            {
                                <td>Someone suggested this was of the species @id.Genus @id.Species</td>
                            }
                            <td><span class="badge">@((DateTime.Now - id.Time).Days) days ago.</span></td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <a asp-action="Index" asp-controller="Grain" class="btn btn-default" role="button">Back</a>
    </div>
</div>