@model List<Taxon>
@{
    ViewBag.Title = "View All Taxa";
}

@Html.Partial("_AdminOptions")

<h2>Manage Pollen Taxa</h2>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>OxPollen ID</th>
                    <th>Latin Name</th>
                    <th>Common Name</th>
                    <th>GBIF ID</th>
                    <th>Neotoma ID</th>
                    <th>Actions</th>
                </tr>
                @foreach (var taxon in Model)
                {
                    <tr>
                        <td>@taxon.TaxonId</td>
                        <td>@taxon.LatinName</td>
                        <td>@taxon.CommonName</td>
                        <td><a href="http://gbif.org/species/@taxon.GbifId" name="Lookup in GBIF">@taxon.GbifId</a></td>
                        <td>@taxon.NeotomaId</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </button>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                            </button>
                        </td>
                    </tr>

                }
            </thead>
        </table>
    </div>
</div>