@model List<Taxon>

@{
    ViewBag.Title = "OxPollen Administration";
    ViewBag.Subtitle = "Taxa";
}
@inject UserManager<AppUser> _userManager

@section homepageHeader {
    <div class="addgrain-section headsection">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <p>@ViewBag.Subtitle</p>
        </div>
    </div>
    <br />
}

<a role="button" class="btn btn-danger" onclick="return confirm('Are you sure? This CANNOT be undone.')" href="@Url.Action("Purge", "Taxon")"><span class="glyphicon glyphicon-trash"></span> Purge Empty Taxa</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Latin Name</th>
            <th>Rank</th>
            <th>Neotoma ID</th>
            <th>GBIF ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var taxon in Model)
    {
        <tr>
            <td>@taxon.TaxonId</td>
            <td>@taxon.LatinName</td>
            <td>@taxon.Rank</td>
            <td>@taxon.NeotomaId</td>
            <td>@taxon.GbifId</td>
            <td>
                <a role="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this taxon? This CANNOT be undone.')" href="@Url.Action("Delete", "Taxon", new { id = taxon.TaxonId } )"><span class="glyphicon glyphicon-trash"></span> Delete Taxon</a>
            </td>
        </tr>
    }
</table>