@model List<AppUser>
@{
    ViewBag.Title = "Manage Users";
}

@Html.Partial("_AdminOptions")

<h3>User Accounts</h3>
<p>The following users have active accounts on OxPollen</p>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Institutional Affiliation</th>
            <th>Locked Out?</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FullName()</td>
            <td>@user.Organisation</td>
            <td>@user.LockoutEnabled</td>
            <td>
                <a type="button" class="btn" href="mailto:@user.Email">Email</a>
                <a type="button" class="btn btn-danger" href="@Url.Action("BanUser", "Admin", new { id = user.Id })">Ban User</a>
            </td>
        </tr>
    }
</table>